body, html {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container {
    width: 600px;
    margin: 50px auto;
    border: 5px solid #333;
    box-sizing: border-box;
    padding: 5px;
}

header {
    padding: 40px 0;
    background-color: #B063D8;
}

.content::after {
    content: '';
    display: block;
    clear: both;
}

.sidebar {
    float: left;
    width: 40%;
}

.sidebar aside {
    padding: 60px 0;
    background-color: #2F93FF;
}

.sidebar nav {
    padding: 100px 0;
    background-color: #e45765;
}

main {
    width: 60%;
    padding: 171.5px 0;
    background-color: #E0AA77;
    float: right;
}

footer {
    padding: 20px 0;
    background-color: #666;
}