html,
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    /* grid-template-rows: [baris1-mulai] 50px [baris1-akhir baris2-awal] 100px [baris2-akhir];
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas: 
        'header header header'
        'footer footer footer'; */
    grid-template: [baris1-mulai] 'header header header' 50px [baris1-akhir baris2-awal] 'footer footer footer' 100px [baris2-akhir] / 1fr 2fr 3fr;
}

.item {
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.item:nth-child(even) {
    background-color: aquamarine;
}

.header {
    background-color: lightblue;
    grid-area: header;
}

.footer {
    background-color: rgb(57, 57, 57);
    grid-area: footer;
}

/* Responsive Breakpoint */
@media screen and (min-width: 576px) {
    .container {
        grid-template-areas: 
            'header header header'
            'footer footer footer';
    }
}