* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px, 300px) repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
        'header header header'
        'sidebar content content'
        'footer footer footer';
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: lightblue;
    grid-area: header;
}

.sidebar {
    background-color: salmon;
    grid-area: sidebar;
}

.content {
    background-color: lightgreen;
    grid-area: content;
}

.footer {
    background-color: silver;
    grid-area: footer;
}